@font-face {font-family: "stmicons";src: url("stmicons.eot?rfif1c");src: url("stmicons.eot?rfif1c#iefix") format("embedded-opentype"),url("stmicons.ttf?rfif1c") format("truetype"),url("stmicons.woff?rfif1c") format("woff"),url("stmicons.svg?rfif1c#stmicons") format("svg");font-weight: normal;font-style: normal;}
[class^="stmicon-"], [class*=" stmicon-"] {font-family: "stmicons" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.stmicon-flower-2:before {content: "";}
.stmicon-phone2:before {content: "";}
.stmicon-clock2:before {content: "";}
.stmicon-hairdryer:before {content: "";}
.stmicon-pomade:before {content: "";}
.stmicon-pencil2:before {content: "";}
.stmicon-powder:before {content: "";}
.stmicon-clips:before {content: "";}
.stmicon-epilator:before {content: "";}
.stmicon-perfume:before {content: "";}
.stmicon-lips:before {content: "";}
.stmicon-mirror:before {content: "";}
.stmicon-flourish:before {content: "";}
.stmicon-flourish-2:before {content: "";}
.stmicon-icon-1:before {content: "";}
.stmicon-icon-2:before {content: "";}
.stmicon-bag:before {content: "";}
.stmicon-shoe:before {content: "";}
.stmicon-cosmetics:before {content: "";}
.stmicon-comb:before {content: "";}
.stmicon-comb-2:before {content: "";}
.stmicon-icon-3:before {content: "";}
.stmicon-eye:before {content: "";}
.stmicon-map:before {content: "";}
.stmicon-hairdryer2:before {content: "";}
.stmicon-pomade2:before {content: "";}
.stmicon-pencil23:before {content: "";}
.stmicon-powder2:before {content: "";}
.stmicon-clips2:before {content: "";}
.stmicon-epilator2:before {content: "";}
.stmicon-perfume2:before {content: "";}
.stmicon-lips2:before {content: "";}
.stmicon-mirror2:before {content: "";}
.stmicon-flourish2:before {content: "";}
.stmicon-flourish-22:before {content: "";}
.stmicon-icon-12:before {content: "";}
.stmicon-icon-22:before {content: "";}
.stmicon-shoe2:before {content: "";}
.stmicon-cosmetics2:before {content: "";}
.stmicon-comb2:before {content: "";}
.stmicon-comb-22:before {content: "";}
.stmicon-icon-32:before {content: "";}
.stmicon-eye2:before {content: "";}
.stmicon-flower-22:before {content: "";}