@font-face {font-family: "stmicons";src: url("stmicons.eot?he17c3");src: url("stmicons.eot?he17c3#iefix") format("embedded-opentype"),url("stmicons.ttf?he17c3") format("truetype"),url("stmicons.woff?he17c3") format("woff"),url("stmicons.svg?he17c3#stmicons") format("svg");font-weight: normal;font-style: normal;}
[class^="stmicon-"], [class*=" stmicon-"] {font-family: "stmicons" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.stmicon-toothpaste:before {content: "";}
.stmicon-round-test-tube:before {content: "";}
.stmicon-doctor-suitcase:before {content: "";}
.stmicon-medicine-pill:before {content: "";}
.stmicon-clipboard-with-check-marks:before {content: "";}
.stmicon-cycling:before {content: "";}
.stmicon-runner-left:before {content: "";}
.stmicon-stretches:before {content: "";}
.stmicon-treadmil:before {content: "";}
.stmicon-weight-rounded:before {content: "";}
.stmicon-yoga:before {content: "";}
.stmicon-arrow-top:before {content: "";}
.stmicon-paper:before {content: "";}
.stmicon-quote:before {content: "";}
.stmicon-headphones:before {content: "";}
.stmicon-circle:before {content: "";}
.stmicon-drugs:before {content: "";}
.stmicon-apple-o:before {content: "";}
.stmicon-stopwatch:before {content: "";}
.stmicon-dumbbell-circle:before {content: "";}
.stmicon-smile:before {content: "";}
.stmicon-leaf:before {content: "";}
.stmicon-bottle:before {content: "";}
.stmicon-apple:before {content: "";}
.stmicon-big-arrow-r:before {content: "";}
.stmicon-arrow-r:before {content: "";}
.stmicon-big-arrow-l:before {content: "";}
.stmicon-pill:before {content: "";}
.stmicon-pulse:before {content: "";}
.stmicon-balance:before {content: "";}
.stmicon-video:before {content: "";}
.stmicon-bottle-1:before {content: "";}
.stmicon-dumbbell:before {content: "";}
.stmicon-wheat:before {content: "";}
.stmicon-heart6:before {content: "";}
.stmicon-heart-o:before {content: "";}
.stmicon-watermelon-o:before {content: "";}
.stmicon-key:before {content: "";}
.stmicon-grid:before {content: "";}
.stmicon-post:before {content: "";}
.stmicon-flash:before {content: "";}
.stmicon-run:before {content: "";}
.stmicon-run-2:before {content: "";}
.stmicon-shield2:before {content: "";}
.stmicon-shoes:before {content: "";}
.stmicon-blank:before {content: "";}
.stmicon-lifebuoy:before {content: "";}
.stmicon-tea:before {content: "";}
.stmicon-tea-2:before {content: "";}
.stmicon-checked-2:before {content: "";}
.stmicon-vitamins:before {content: "";}
.stmicon-female:before {content: "";}
.stmicon-male:before {content: "";}
.stmicon-waist:before {content: "";}